<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title></title>
<style >

</style>
</head>
<body>
<div>
  删除成功
  <form action="/" method="get">
    <input type="submit" value="返回">
  </form>
</div>


</body>
</html>
